aicsimageio>=4.0
black~=22.0
dvc==2.46.0
dvc-gdrive==2.19.1
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.9'
isort~=5.0
jupyter~=1.0
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab~=3.0, <3.6.0
kedro~=0.18.5
kedro-datasets[pillow.ImageDataSet]>=1.0
kedro-telemetry~=0.2.0
kedro-viz>=6.0.1
nbstripout~=0.4
numpy==1.23.4
pandas>=1.5
wandb~=0.15.0
torch